n8n/workflows/K8s AI Agent.json
{
  "name": "k8s-ai-agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "falco",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2032,
        224
      ],
      "id": "6fe1aff5-c7f4-4a51-9065-0681c84b317a",
      "name": "FalcoWebhook",
      "webhookId": "2a4813c0-679a-4faf-8518-b53dc5d0f553"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI cybersecurity analyst specialized in Kubernetes runtime events from Falco.\n\nYour task:\n1. Read the Falco event JSON provided below.\n2. Apply the ROSES incident analysis framework:\n   - ROLE – who is involved? (pod, namespace, container, process)\n   - OBJECTIVE – what is happening?\n   - STEPS – what led to this event?\n   - EVIDENCE – list direct evidence from the JSON\n   - SUMMARY – short conclusion\n\n3. Classify the event into:\n   false_positive, benign_positive, suspicious, true_positive, false_negative\n\n4. Return STRICT JSON ONLY, no text outside JSON.\n\nJSON format:\n{\n  \"roses\": {\n    \"role\": \"\",\n    \"objective\": \"\",\n    \"steps\": \"\",\n    \"evidence\": \"\",\n    \"summary\": \"\"\n  },\n  \"classification\": \"\",\n  \"confidence\": 0\n}\n\nFalco Event:\n{{ $json.toJsonString() }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1760,
        224
      ],
      "id": "c6fd6838-0ab1-4e10-8861-f9339d1c9b92",
      "name": "ROSES Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI incident response agent responsible for making decisions in Kubernetes based on Falco runtime security events.\n\nUse the following rules:\n\nDELETE_POD only if ALL:\n- process is a shell (sh/bash/python) OR suspicious binary (nc, wget, curl, socat)\n- AND user is root or UID 0\n- AND pod is NOT a system pod (grafana, loki, promtail, prometheus, falco, n8n, kube-system, monitoring)\n- AND event severity is Warning or higher\n\nQUARANTINE_POD only if ALL:\n- behavior is suspicious\n- AND pod is NOT a system pod\n- AND namespace is a user namespace (playground, default, staging, dev)\n\nESCALATE if ANY:\n- uncertain classification\n- insufficient data\n- ambiguous ROSES classification\n- system pod involved\n- possibly harmful but unclear\n\nIGNORE if ANY:\n- event is clearly benign\n- pod contains: test, demo, sandbox\n- behavior expected for this pod\n- harmless process (sleep, echo, nginx, pause, redis)\n\nSPECIAL TEST RULES:\nIf pod name contains \"test-delete\", decision MUST be \"delete_pod\".\nIf pod name contains \"test-quarantine\", decision MUST be \"quarantine_pod\".\nIf pod name contains \"test-escalate\", decision MUST be \"escalate\".\nIf pod name contains \"test-ignore\", decision MUST be \"ignore\".\n\nOutput rules:\nReturn STRICT JSON ONLY:\n\n{\n  \"decision\": \"\",\n  \"explanation\": \"\",\n  \"confidence\": 0.0\n}\n\n- decision ∈ {delete_pod, quarantine_pod, ignore, escalate}\n- explanation is 1–2 sentences\n- confidence is float 0–1\n- no extra fields\n- no surrounding text\n- no reasoning\n\nInput event: {{ $('FalcoWebhook').all().toJsonString() }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1136,
        224
      ],
      "id": "c9d92b0b-a6dc-44b7-bf3b-04b896650155",
      "name": "RACE Prompt"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parser RACE').item.json.decision }}",
                    "rightValue": "ignore",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8572af7e-a97d-45fe-b319-7a8b8e984e9e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ignore"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8de4fbd0-a11d-476c-b13f-18945f5e4f59",
                    "leftValue": "={{ $('Parser RACE').item.json.decision }}",
                    "rightValue": "quarantine_pod",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "quarantine_pod"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a372987b-35d6-434f-8f67-c0db355f1391",
                    "leftValue": "={{ $('Parser RACE').item.json.decision }}",
                    "rightValue": "delete_pod",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete_pod"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "26e129f7-f36e-43ec-87b3-67db6d985fb3",
                    "leftValue": "={{ $('Parser RACE').item.json.body.output_fields['decision'] }}",
                    "rightValue": "escalate",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "escalate"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -368,
        192
      ],
      "id": "e5f791d0-6797-4fc2-bc87-7afbcb85daf9",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "-5054405605",
        "text": "=Был проигнорирован syscall.\n\n{{ $('Parser RACE').item.toJsonString() }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "c316b001-0609-4908-9824-f03bd95890b0",
      "name": "Ignore message",
      "webhookId": "804fb53b-b96e-475c-82c8-5d07483398c3",
      "credentials": {
        "telegramApi": {
          "id": "2EDHlV5crpkgSU2c",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-5054405605",
        "text": "=ЭСКАЛАЦИЯ \nОТВЕТСТВЕННЫЙ: ТУЗЕЛБАЕВ ДАНИЯЛ\n\n{{ $('Parser RACE').item.toJsonString() }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        16,
        624
      ],
      "id": "04a3130b-824f-49dc-8ca1-2e7318b915dd",
      "name": "Escalate",
      "webhookId": "49d6f28f-6487-43dc-a8bb-2b935b7e784f",
      "credentials": {
        "telegramApi": {
          "id": "2EDHlV5crpkgSU2c",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://kubernetes.default.svc/api/v1/namespaces/{{ $('FalcoWebhook').item.json.body.output_fields['k8s.ns.name'] }}/pods/{{ $('FalcoWebhook').item.json.body.output_fields['k8s.pod.name'] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16,
        416
      ],
      "id": "737e6dde-90b7-4e0f-b77d-e4d19b33f875",
      "name": "Delete pod",
      "credentials": {
        "httpBearerAuth": {
          "id": "OlWKGpvNQyD3RsBg",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://kubernetes.default.svc/api/v1/namespaces/{{ $('FalcoWebhook').item.json.body.output_fields['k8s.ns.name'] }}/pods/{{ $('FalcoWebhook').item.json.body.output_fields['k8s.pod.name'] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/merge-patch+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"metadata\": {\n    \"labels\": {\n      \"security/quarantined\": \"true\"\n    }\n  }\n}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16,
        224
      ],
      "id": "c9cc2a58-8c9e-4fe1-8548-7d579920a2c2",
      "name": "Quarantine pod",
      "credentials": {
        "httpBearerAuth": {
          "id": "OlWKGpvNQyD3RsBg",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek-r1:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -1264,
        448
      ],
      "id": "ed7ca37c-3eac-47eb-b847-132c9abb3fde",
      "name": "deepseek-r1:8b",
      "credentials": {
        "ollamaApi": {
          "id": "8fNZNKVBLkrmv9dC",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek-r1:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -1888,
        448
      ],
      "id": "9a529958-7156-4982-bb4d-60306aa0ff55",
      "name": "deepseek--r1:8b",
      "credentials": {
        "ollamaApi": {
          "id": "8fNZNKVBLkrmv9dC",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "=return {\n  streams: [\n    {\n      stream: {\n        job: \"incident-pipeline\",\n        decision: {{ $json.decision }},\n        classification: {{$('Parser ROSES').item.json.classification }},\n        pod: {{ $('FalcoWebhook').item.json.body.output_fields['k8s.pod.name'] }},\n        namespace: {{ $('FalcoWebhook').item.json.body.output_fields['k8s.ns.name'] }},\n      },\n      values: [\n        [\n          (Date.now() * 1_000_000).toString(),\n          JSON.stringify($json),\n        ],\n      ],\n    },\n  ],\n};\n",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -576,
        224
      ],
      "id": "d083d5af-e4fa-4638-bdeb-d4b9254e9239",
      "name": "Loki"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst rawOutput = items[0].json.output;\n\n// Находим самый первый JSON-блок\nconst jsonMatch = rawOutput.match(/\\{(?:[^{}]|(?:\\{[^{}]*\\}))*\\}/);\n\nif (!jsonMatch) {\n  throw new Error(\"❌ Could not extract JSON from RACE output\");\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonMatch[0]);\n} catch (e) {\n  throw new Error(\"❌ Failed to parse cleaned JSON: \" + e.message + \"\\nExtracted JSON: \" + jsonMatch[0]);\n}\n\nreturn [\n  {\n    json: {\n      decision: parsed.decision,\n      explanation: parsed.explanation,\n      confidence: parsed.confidence\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        224
      ],
      "id": "862be478-04bc-4878-a4df-af1052bf49c1",
      "name": "Parser RACE"
    },
    {
      "parameters": {
        "jsCode": "// Получаем весь текстовый ответ ROSES\nconst items = $input.all();\nconst raw = items[0].json.output || items[0].json || \"\";\n\n// Ищем первый JSON-блок — универсальный поиск\nconst jsonMatch = raw.match(/\\{(?:[^{}]|(?:\\{[^{}]*\\}))*\\}/);\n\nif (!jsonMatch) {\n  throw new Error(\"❌ Could not extract JSON block from ROSES output\");\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonMatch[0]);\n} catch (e) {\n  throw new Error(\"❌ Failed to parse ROSES JSON: \" + e.message + \"\\nExtracted JSON:\\n\" + jsonMatch[0]);\n}\n\n// Проверяем структуру ROSES JSON\nif (!parsed.roses || !parsed.classification) {\n  throw new Error(\"❌ Parsed JSON does not contain required ROSES fields.\");\n}\n\n// Возвращаем нормализованный объект\nreturn [\n  {\n    json: {\n      role: parsed.roses.role,\n      objective: parsed.roses.objective,\n      steps: parsed.roses.steps,\n      evidence: parsed.roses.evidence,\n      summary: parsed.roses.summary,\n      classification: parsed.classification,\n      confidence: parsed.confidence\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1392,
        224
      ],
      "id": "5bbea64c-c34d-48d8-b8d3-94447bbcf47a",
      "name": "Parser ROSES"
    }
  ],
  "pinData": {},
  "connections": {
    "FalcoWebhook": {
      "main": [
        [
          {
            "node": "ROSES Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ROSES Prompt": {
      "main": [
        [
          {
            "node": "Parser ROSES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RACE Prompt": {
      "main": [
        [
          {
            "node": "Parser RACE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Ignore message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Quarantine pod",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete pod",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escalate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deepseek-r1:8b": {
      "ai_languageModel": [
        [
          {
            "node": "RACE Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "deepseek--r1:8b": {
      "ai_languageModel": [
        [
          {
            "node": "ROSES Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loki": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser RACE": {
      "main": [
        [
          {
            "node": "Loki",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser ROSES": {
      "main": [
        [
          {
            "node": "RACE Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1f613930-4a62-4ba2-a6e0-386bbb3e9002",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "516c7590e400eb1f2971b1441dbeeb0aca55521818e4b14c8b422e5af8b8e850"
  },
  "id": "7G2VgnUA3wMcuJtZ",
  "tags": []
}