n8n/workflows/K8s AI Agent (1).json
{
  "name": "k8s-ai-agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "falco",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1488,
        224
      ],
      "id": "0f31eff1-a00a-4dde-a152-3706d45caea9",
      "name": "FalcoWebhook",
      "webhookId": "2a4813c0-679a-4faf-8518-b53dc5d0f553"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI cybersecurity analyst specialized in Kubernetes runtime events from Falco.\n\nYour task:\n1. Read the Falco event JSON provided below.\n2. Apply the ROSES incident analysis framework:\n   - ROLE – who is involved? (pod, namespace, container, process)\n   - OBJECTIVE – what is happening?\n   - STEPS – what led to this event?\n   - EVIDENCE – list direct evidence from the JSON\n   - SUMMARY – short conclusion\n\n3. Classify the event into:\n   false_positive, benign_positive, suspicious, true_positive, false_negative\n\n4. Return STRICT JSON ONLY, no text outside JSON.\n\nJSON format:\n{\n  \"roses\": {\n    \"role\": \"\",\n    \"objective\": \"\",\n    \"steps\": \"\",\n    \"evidence\": \"\",\n    \"summary\": \"\"\n  },\n  \"classification\": \"\",\n  \"confidence\": 0\n}\n\nFalco Event:\n{{ $json.toJsonString() }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1280,
        224
      ],
      "id": "71224620-00d5-4a55-84cf-48765e18ec6a",
      "name": "ROSES Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI incident response agent responsible for making decisions in Kubernetes based on Falco runtime security events.\n\nUse the following rules:\n\nDELETE_POD only if ALL:\n- process is a shell (sh/bash/python) OR suspicious binary (nc, wget, curl, socat)\n- AND user is root or UID 0\n- AND pod is NOT a system pod (grafana, loki, promtail, prometheus, falco, n8n, kube-system, monitoring)\n- AND event severity is Warning or higher\n\nQUARANTINE_POD only if ALL:\n- behavior is suspicious\n- AND pod is NOT a system pod\n- AND namespace is a user namespace (playground, default, staging, dev)\n\nESCALATE if ANY:\n- uncertain classification\n- insufficient data\n- ambiguous ROSES classification\n- system pod involved\n- possibly harmful but unclear\n\nIGNORE if ANY:\n- event is clearly benign\n- pod contains: test, demo, sandbox\n- behavior expected for this pod\n- harmless process (sleep, echo, nginx, pause, redis)\n\nSPECIAL TEST RULES:\nIf pod name contains \"test-delete\", decision MUST be \"delete_pod\".\nIf pod name contains \"test-quarantine\", decision MUST be \"quarantine_pod\".\nIf pod name contains \"test-escalate\", decision MUST be \"escalate\".\nIf pod name contains \"test-ignore\", decision MUST be \"ignore\".\n\nOutput rules:\nReturn STRICT JSON ONLY:\n\n{\n  \"decision\": \"\",\n  \"explanation\": \"\",\n  \"confidence\": 0.0\n}\n\n- decision ∈ {delete_pod, quarantine_pod, ignore, escalate}\n- explanation is 1–2 sentences\n- confidence is float 0–1\n- no extra fields\n- no surrounding text\n- no reasoning\n\nInput event: {{ $('FalcoWebhook').all().toJsonString() }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -928,
        224
      ],
      "id": "757979f5-9a86-4315-870c-16179355d5a5",
      "name": "RACE Prompt"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst rawOutput = items[0].json.output;\n\n// Находим самый первый JSON-блок\nconst jsonMatch = rawOutput.match(/\\{(?:[^{}]|(?:\\{[^{}]*\\}))*\\}/);\n\nif (!jsonMatch) {\n  throw new Error(\"❌ Could not extract JSON from RACE output\");\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonMatch[0]);\n} catch (e) {\n  throw new Error(\"❌ Failed to parse cleaned JSON: \" + e.message + \"\\nExtracted JSON: \" + jsonMatch[0]);\n}\n\nreturn [\n  {\n    json: {\n      decision: parsed.decision,\n      explanation: parsed.explanation,\n      confidence: parsed.confidence\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        224
      ],
      "id": "f8d7f837-a2af-4e8e-ab8b-f4629dacb1c6",
      "name": "Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parser').item.json.body.output_fields['decision'] }}",
                    "rightValue": "ignore",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8572af7e-a97d-45fe-b319-7a8b8e984e9e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ignore"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8de4fbd0-a11d-476c-b13f-18945f5e4f59",
                    "leftValue": "={{ $('Parser').item.json.body.output_fields['decision'] }}",
                    "rightValue": "quarantine_pod",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "quarantine_pod"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a372987b-35d6-434f-8f67-c0db355f1391",
                    "leftValue": "={{ $('Parser').item.json.body.output_fields['decision'] }}",
                    "rightValue": "delete_pod",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete_pod"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "26e129f7-f36e-43ec-87b3-67db6d985fb3",
                    "leftValue": "={{ $('Parser').item.json.body.output_fields['decision'] }}",
                    "rightValue": "escalate",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "escalate"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -160,
        224
      ],
      "id": "c806c4c0-457a-482c-b5dc-75841c36d954",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "-5054405605",
        "text": "=Был проигнорирован syscall.\n\n{{ $('Parser').item.toJsonString() }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "d5cc328b-8188-4816-a8f6-8ae0cb81b572",
      "name": "Ignore message",
      "webhookId": "804fb53b-b96e-475c-82c8-5d07483398c3",
      "credentials": {
        "telegramApi": {
          "id": "tmdlzcHiU9V2iORk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-5054405605",
        "text": "=ЭСКАЛАЦИЯ \nОТВЕТСТВЕННЫЙ: ТУЗЕЛБАЕВ ДАНИЯЛ\n\n{{ $('Parser').item.toJsonString() }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        624
      ],
      "id": "e0c5259d-b749-4798-ab82-83dbad217316",
      "name": "Escalate",
      "webhookId": "49d6f28f-6487-43dc-a8bb-2b935b7e784f",
      "credentials": {
        "telegramApi": {
          "id": "tmdlzcHiU9V2iORk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://kubernetes.default.svc/api/v1/namespaces/{{ $('FalcoWebhook').item.json.body.output_fields['k8s.ns.name'] }}/pods/{{ $('FalcoWebhook').item.json.body.output_fields['k8s.pod.name'] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        416
      ],
      "id": "d36e76fb-0829-4955-a27b-ab7eed0c865e",
      "name": "Delete pod",
      "credentials": {
        "httpBearerAuth": {
          "id": "JrCbfLYt2R1mvCwh",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://kubernetes.default.svc/api/v1/namespaces/{{ $('FalcoWebhook').item.json.body.output_fields['k8s.ns.name'] }}/pods/{{ $('FalcoWebhook').item.json.body.output_fields['k8s.pod.name'] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/merge-patch+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"metadata\": {\n    \"labels\": {\n      \"security/quarantined\": \"true\"\n    }\n  }\n}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        224
      ],
      "id": "acf0aa3f-2267-4e08-a1f1-f5d1d598434e",
      "name": "Quarantine pod",
      "credentials": {
        "httpBearerAuth": {
          "id": "JrCbfLYt2R1mvCwh",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek-r1:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -976,
        432
      ],
      "id": "4ff88e92-2a1d-432b-ad52-3649cffbbe20",
      "name": "deepseek-r1:8b",
      "credentials": {
        "ollamaApi": {
          "id": "lz8ZVsMNNWbM3Joe",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek-r1:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -1408,
        432
      ],
      "id": "018e8c9a-eeb9-48af-959d-6ed568a20fbc",
      "name": "deepseek--r1:8b",
      "credentials": {
        "ollamaApi": {
          "id": "lz8ZVsMNNWbM3Joe",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "=return {\n  streams: [\n    {\n      stream: {\n        job: \"incident-pipeline\",\n        decision: {{ $json.decision }},\n        classification: {{ $json.classification }},\n        pod: {{ $json.pod }},\n        namespace: {{ $json.namespace }},\n      },\n      values: [\n        [\n          (Date.now() * 1_000_000).toString(),\n          JSON.stringify($json),\n        ],\n      ],\n    },\n  ],\n};\n",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -368,
        240
      ],
      "id": "d023e485-2eac-4a98-aea8-aaee96c0585e",
      "name": "Loki"
    }
  ],
  "pinData": {},
  "connections": {
    "FalcoWebhook": {
      "main": [
        [
          {
            "node": "ROSES Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ROSES Prompt": {
      "main": [
        [
          {
            "node": "RACE Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RACE Prompt": {
      "main": [
        [
          {
            "node": "Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser": {
      "main": [
        [
          {
            "node": "Loki",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Ignore message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Quarantine pod",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete pod",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escalate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deepseek-r1:8b": {
      "ai_languageModel": [
        [
          {
            "node": "RACE Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "deepseek--r1:8b": {
      "ai_languageModel": [
        [
          {
            "node": "ROSES Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Quarantine pod": {
      "main": [
        []
      ]
    },
    "Loki": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ignore message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3cab3066-5964-46c6-b7dd-50fe1c143fc8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8312a318481074cb0c301618cf2d247c896273b897ca9d04a3339d3894e53919"
  },
  "id": "bITQJoD5QsmnFWaJ",
  "tags": []
}